*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --principal:#0583f2;
    --black: #000;
    --letra: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    --trans: rgba(0, 0, 0, 0.2);
    --colorcartas:rgb(1, 11, 64);
    --colorletra:#7b7b7b;
    --degradado: linear-gradient(345deg, rgba(1, 11, 64, 1) 0%, rgba(1, 11, 64, 1) 29%, rgba(10, 32, 153, 1) 55%, rgba(22, 82, 161, 1) 73%, rgba(5, 108, 242, 1) 100%);
}

header{
    width: 100%;
    padding: 20px 0;
}

body {
    margin: 0;
    padding: 0;  
    height: 100vh;
    background-color: #000;
    font-family: var(--letra);    
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.panel {
    background-image: linear-gradient(0deg, var(--black) 0%, transparent 40%), linear-gradient(0deg, rgb(0, 0, 0, 0.2), rgb(0, 0, 0, 0.2)), url("../img/plantilla.png");
    background-repeat: no-repeat;
    background-size: cover; 
    width: 100%;
}

.nav  {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1280px;
    margin: 0 auto;
    padding: 0px 50px;
}

.nav a{
    cursor: pointer;
    
}

.boton {
    font-size: 12px;
    cursor: pointer; 
    background-color: var(--principal);
    padding: 5px 15px;
    border-radius: 5px;
    margin-right: 20px;
    letter-spacing:0.02cm;
    
}

a {
    text-decoration: none;
    cursor: pointer;
    font-size: 12px;
    line-height: 20px;
    color: #fff;
}

.logo {
    display: flex;
    width: 200px; 
}
.frase{
    margin: 0 auto;
    max-width: 1280px;
}
.frase h1{
    color: #fff;
    font-size: 32px;
    width: 500px;
}
.busqueda input{
    background: var(--trans);
    border-radius: 5px;
    border-color: var(--principal);
    font-size: 12px;
    width: 300px;
    padding: 10px;
    color: var(--colorletra);
    font-weight: bold;
    margin: 30px 0px;
    border: 0.1px solid var(--principal);
}
.comenzar {
    font-size: 12px;
    font-weight: bold;
    cursor: pointer; 
    background-color: var(--principal);
    padding: 10px 25px;
    border-radius: 5px;
    letter-spacing:0.02cm;
    border: none;
    margin-left: 5px;
}

/* --------------------------------- */

main{
    max-width: 1280px;
    margin: 0 auto;
    padding: 30px 40px;
}

.cards{
    display: flex;
    justify-content: center;
}

.card{
    color: white;
    display: flex;
    flex-direction: column;
    padding: 20px;
    border-radius: 10px;
    width: 400px;
    min-width: 200px;
    background: var(--degradado);
    margin-right: 10px;
}

.card .imagen img{
    width: 60px;
}



/* --------------------------------- */

.footer {
    width: 100%;
    background-color:var(--trans);
}

.pregunta{
    color: #fff;
    text-align: center;
    font-weight: lighter;
}

.pregunta h4{
    font-size: 30px;
    font-weight: bolder;
    margin-bottom: 10px;
}

.footer .pie {
    max-width: 1280px;
    margin: 0 auto;
    padding: 0px 50px;

}

.footer .grupo_1 {
    color:#fff;
    display: flex;
    flex-direction: column;
    margin-bottom: 35px; 
}

.footer .grupo_1 .siguenos {
    color: #fff;
    display: flex;
}

.footer .grupo_1 .social {
    display: flex;
    flex-direction: column;

}

.footer .grupo_1 .social div {
    display: flex;
    
    
}

.footer .grupo_1 .social .facebook{
    width: 15px; 
    margin-right: 4px; 
}

.footer .grupo_1 .social .instagram{
    width: 15px;    
    margin-right: 4px; 
}

.footer .grupo_1 .social .tiktok{
    width: 15px;  
    margin-right: 4px;   
}

.footer .grupo_2 {
    font-size: 20px;
    width: 100%;
    text-align: center;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
}

.footer .grupo_2 span{
    width: 2px;
    background-color: var(--principal);
    height: 20px;
    margin: 0 40px;
}

.footer .grupo_3 {
    color: #fff;
}

